
.content
  -# An object for use in the form
  - bundle = TicketBundle.new tickets
  = alchemy_form_for(bundle, :action => 'update', :id => 'update_tickets') do |form|
    -# TODO: make this a link back to bugzilla/github
    .control_group.informative
      .label
        %label Ticket Number
      .input
        - tickets.each do |t|
          %span.value
            = "#{t.short_name}"

    .control_group
      .label.help
        %i ?
        %label
          = _('Summary')
        %span Here will be placed explanatory information about concrete label term. In this case it would be for "Text input". What is Text input?
      .input
        - tickets.each do |t|
          %textarea{:id => "title_#{t.id}"}
            = t.title
        %span.note
          = @ticket.title

    .control_group.informative
      .label
        %label Project
      .input
        - tickets.each do |t|
          %span.value
            = "#{t.project}"

    .control_group.informative
      .label
        %label Component
      .input
        - tickets.each do |t|
          %span.value
            = "#{t.component}"

    .control_group
      .label
        %label
          = _('Status')
      .input
        - tickets.each do |t|
          - if t.is_bugzilla?
            = form.select "state_#{t.id}", ['NEW', 'ASSIGNED', 'MODIFIED', 'ON_DEV', 'ON_QA', 'RELEASE_PENDING', 'POST', 'CLOSED'], :selected => t.state
          - elsif t.is_github?
            = form.select "state_#{t.id}", ['OPEN', 'CLOSED'], :selected => t.state

    .control_group
      .label
        %label
          = _('Severity')
      .input
        - tickets.each do |t|
          - if t.is_bugzilla?
            = form.select "severity_#{t.id}", ['unspecified', 'urgent', 'high', 'medium', 'low'], :selected => t.severity
          - elsif t.is_github?
            = form.select "severity_#{t.id}", ['unspecified'], :selected => t.severity

    .control_group.informative
      .label
        %label Assigned To
      .input
        - tickets.each do |t|
          %span.value
            = "#{t.assignee}"

    .control_group.informative
      .label
        %label Reported By
      .input
        - tickets.each do |t|
          %span.value
            = "#{t.creator}"

    .control_group.buttons
      .label
      .input
        %input.btn.primary{:type => "submit", :value => "Save"}
        %input.btn{:type => "submit", :value => "Cancel"}
