.block.tall{:id => "#{name}_#{ticket.send(accessor)}", "data-ajax_url" => "#{url_for(:controller=>controller.controller_name)}/#{ticket.send(accessor)}", "data-ajax_panelpage" => @tupane_options[:initial_action]}
  = render :partial=>"tickets/list_ticket_show", :locals=>{:ticket => ticket}

