= content_for(:appname) do
  = "Ifukube"

= content_for(:logo) do
  %a{ :href => root_path, :class => "logo" }
    = image_tag("embed/ifukube.png", :alt => 'Ifukube')

= content_for(:tabs) do
  %ul
    %li
      %a{ :href => tickets_path, :class => 'selected' }
        Tickets

= content_for(:widgets) do
  = link_to _("Log Out"), destroy_user_session_path, :method => :delete, :class => "header-widget"
  %a{ :href => "#", "class" => "header-widget" }
    = current_user.email if current_user
